.card .card_box_border{
    border: 1px solid #ddd;
    display: inline-block;
    width: 100%;
}
.chet .app-search
{
    padding-bottom: 0px;
    padding-top: 0px;
}
.chet ul{
    list-style: none;
    padding-left:0px;
    margin-bottom: 0px;
}

.chet ul li{
    padding: 10px;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}

.chet ul li span{
    border: 2px solid;
    border-radius: 50%;
    font-weight: 900;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
}

.chet ul li:hover{
    background: #dedede;
}

.chet ul li.active{
    background: #dedede;
    font-weight: 700;
    color: #717171;
}

.chet .flot_left{
    float: left;
    padding: 0px;
}

.chet .flot_right{
    float: right;
    padding: 7px;
    border-left: 1px solid #c3c3c3;
    border-radius: 10px: 
}

.chet .chet_box .receive_msg{
    background: #dedede;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    width: 50%;
    margin-left: 39px;
    color: #313131;
}

.chet .chet_box .receive_img{
    width: 40px;
    float: left;
    line-height: 35px;
}

.chet .chet_box .receive{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.chet .chet_box .send_msg{
    background: #adbfff;
    padding: 10px;
    border-radius: 15px 0px 15px 15px;
    float: right;
    width: 50%;
    color: #313131;
}

.chet .chet_box p{
    margin-bottom: 0px;
}
.chet .chet_box .send_img{
    width: 40px;
    float: right;
    line-height: 35px;
}
.chet .chet_box .send_img img{
    border-radius: 50%;
    margin-left: 3px;
}

.chet .chet_box .send{
    width: 100%;
    float: right;
    margin-bottom: 10px;
}

.logo span.logo-lg{
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}
.chet_list a li img{
    width: 25px;
    border-radius: 50%;
}

.chet .chet_box .send_img span{
    font-weight: 900;
    border: 2px solid;
    border-radius: 50%;
    background: white;
    margin-left: 2px;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 33px;
    text-align: center;
}
.chet .chet_box .receive span{
    font-weight: 900;
    border: 2px solid;
    border-radius: 50%;
    background: white;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 33px;
    text-align: center;
}
.app-search .search_form{
    max-width: 100%;
    box-shadow: 4px 1px 9px 1px;
}
.select_box_margin{
    margin-bottom: 15px;
}
.loding img{
    position: absolute;
    bottom: -4px;
    left: 37%;
    display: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 73%;
    z-index: 9;
    background: #fff;
}

.sticky tr .myth{
    width: 405px;
}   
.select_all_record_label, .all_row_remove_seleced{
    display: none;
}
.google-search_box{
    margin: auto;   
}
.google-search_box .app-search .input-group input{
    background: #fff;
    box-shadow: 0px 2px 2px 0px #ddd;
    height: 50px;
    border: 1px solid #ddd;
}
.google-search_box .app-search .input-group input:hover{
    box-shadow: 1px 1px 5px 1px #cacaca;
}
.undread{
    background: #7d7d7d;
    color: #fff;
}
.table_responsive{
    overflow-x: auto;
}
.unread_count{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    background: gray;
    padding: 0px 5px;
    font-size: 13px;
}
.menu_icon{
    height: 36px;
}
.menu_icon .dripicons-menu{
    font-size: 24px;
    cursor: pointer;
}
.full_width_menu_icon{
    display: none;
    font-size: 24px;
    color: #fff;
}
.metismenu li {
    display: inline-block;
}
.app-search span{
    z-index: 9;
}
.full_sticky{
    width: 85%;
}
.side-nav .side-nav-link i{
    margin: 0 10px 0 0px;
}
.search_monthly_record{
    float: right;
    position: absolute;
    margin: auto;
    left: 35%;
    top: 20px;
}
@media only screen and (max-width: 768px) {
    .search_monthly_record{
        float: right;
        position: inherit;
        margin-bottom: 20px;
    }
}


.arrow_create_chat_bot{
    margin-right: 13px;
    width: 50px;
    height: 44vh;
}
.my_error{
    display: none;
    color: red;
    font-weight: 500;
}